<div hx-boost="true" class="d-flex justify-content-center">
	<ul class="pagination">
		{% if pagination.previous %}
        <li class="page-item">
			<a
                class="page-link"
                href="{{ pagination.path }}?page={{ pagination.previous }}">
				Prev
			</a>
        </li>
		{% endif %}

		{% for page in pagination.pages %}
			{% if page == pagination.current %}
                <li class="page-item disabled">
                    <span class="page-link active">
                        {{ page }}
                    </span>
                </li>
			{% else %}
                <li class="page-item">
                    <a
                        class="page-link"
                        href="{{ pagination.path }}?page={{ page }}">
                        {{ page }}
                    </a>
                </li>
			{% endif %}
        </li>
		{% endfor %}

		{% if pagination.next %}
        <li class="page-item">
			<a
                class="page-link"
				href="{{ pagination.path }}?page={{ pagination.next }}">
				Next
			</a>
        </li>
		{% endif %}
    </ul>
</div>